.orandin {
  margin-top: 119px;
}
.or {
  position: absolute;
  top: 119px;
  left: 106px;
  width: 179px;
  height: 25px;
  /* UI Properties */
  text-align: left;
  font: normal normal 600 18px/48px Open Sans;
  letter-spacing: 0px;
  color: #1e2022;
  text-transform: capitalize;
  opacity: 1;
}
.in input {
  /* Layout Properties */
  position: absolute;
  top: 119px;
  left: 1135px;
  width: 200px;
  height: 21px;
  /* UI Properties */
  opacity: 1;
  border: none;
}

.in input:focus {
  outline: none;
}

.in img {
  /* Layout Properties */
  position: absolute;
  top: 123px;
  left: 1115px;
  width: 14px;
  height: 15px;
  opacity: 1;
}

.bottomline {
  position: absolute;
  top: 145px;
  left: 1111px;
  width: 195px;
  height: 2px;
  background-color: #222b45;
  opacity: 0.6;
}

.text {
  position: absolute;
  top: 405px;
  left: 684px;
  width: 129px;
  height: 19px;
  /* UI Properties */
  text-align: left;
  letter-spacing: 0px;
  color: #222b45;
  opacity: 0.5;
}
.cbtn {
  /* Layout Properties */
  position: absolute;
  top: 439px;
  left: 695px;
  width: 107px;
  height: 32px;
  /* UI Properties */
  border: 1px solid #5861ae;
  border-radius: 4px;
  opacity: 1;
  color: #5861ae;
}
